*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    margin: 24px 300px 0;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back-login{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    margin-top: 17px;
    color: rgb(104, 104, 104);
    text-decoration: none;
    margin-left: -10px;
}

.back-login i{
    color:rgb(104, 104, 104) ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 0%;
}

.back-login i:hover{
     
    background-color:rgba(104, 104, 104, 0.242); 
}

.meta-logo{
    display: flex;
    align-items: center;
    gap: 7px;

}

.meta-logo i{
    font-size: 15px;
    color: rgb(0, 110, 255);
}

.meta-logo > span{
    font-size: 20px ;
}

.heading h2{
    font-size: normal;
    font-weight:normal ;
    margin-bottom: 5px;
}

.name label{
    display: block;
    font-size: large;
    font-weight: 540;
    margin-bottom: 7px;
}

.input-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name input{
    padding: 18px 15px;
    width: 265px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.518);
}
.input-name input:hover{
  border: 1px solid black;
}

.input-name input:focus{
    border: 1px solid rgba(0, 0, 0, 0);
}

.DOB h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dob-selects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.dob-selects select{
    padding: 20px 15px;
    width: 190px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.518);
  }

  /* gender */
 .gender h2{
    margin: 10px 0px;
    font-weight: 500;
 }

 .gender select{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.518);
    border-radius: 10px;
 }

 /* email */

 .email h2{
    font-weight:500;
    margin: 10px 0;
 }

 .email input{
    padding:20px 15px; 
    width: 100%;
    border:1px solid rgba(128, 128, 128, 0.518);
    font-size: 18px;
    border-radius: 10px;
}
/*  
h2{
    margin: 15px 0px;
} */

.learn p{
 margin-top: 5px;
 font-weight: 300;
}

.learn span{
    color: rgb(0, 110, 255);
    font-size: 18px;
    cursor: pointer;
}

.learn span:hover{
    text-decoration: underline;
    
}

.password input{
     padding:20px 15px; 
    width: 100%;
    border:1px solid rgba(128, 128, 128, 0.518);
    font-size: 18px;
    border-radius: 10px;
}
.password h2{
 font-weight:500;
 margin-bottom: 10px ;
}

.para{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 17px;
}

.para p{
    font-size: 17px;
    font-weight: 300;
}
.para p span{
    color: rgb(0, 110, 255);
    font-size: 19px;
    cursor: pointer;
}

.para p span:hover{
      text-decoration: underline;
}
.submit{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
}
#submit{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    background-color:rgb(0, 110, 255);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
#submit:hover{
    background-color:rgb(2, 95, 218); ;
}

#back{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid rgb(235, 234, 234);
    background-color: white;


}

#back:hover{
    background-color: rgb(235, 234, 234);
    cursor: pointer;
}

