*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    margin: 24px 310px 0;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back-login{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    margin-top: 17px;
    color: rgb(104, 104, 104);
    text-decoration: none;
    margin-left: -10px;
}

.back-login i{
    color:rgb(104, 104, 104) ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 0%;
}

.back-login i:hover{
     
    background-color:rgba(104, 104, 104, 0.242); 
}

.meta-logo{
    display: flex;
    align-items: center;
    gap: 7px;

}

.meta-logo i{
    font-size: 15px;
    color: rgb(0, 110, 255);
}

.meta-logo > span{
    font-size: 20px ;
}

.heading h2{
    font-size: normal;
    font-weight:normal ;
    margin-bottom: 5px;
}

.name label{
    display: block;
    font-size: large;
    font-weight: 540;
    margin-bottom: 7px;
}

.input-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name input{
    padding: 18px 15px;
    width: 265px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.518);
}
.input-name input:hover{
  border: 1px solid black;
}

.input-name input:focus{
    border: 1px solid rgba(0, 0, 0, 0.541);
}

.DOB h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dob-selects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.dob-selects select{
    padding: 20px 10px;
    width: 190px;
    border-radius: 10px;
    font-size: 16px;
}